html{
    width: 100%;
}
html,body,*{
    padding: 0px;
    margin:0px;
}

body{
    /* width: 100%; */
    font-family: 'Fredoka',Arial, Helvetica, sans-serif;
    /* border: 1px solid rgb(82, 255, 3); */
    /* border: 2px solid rgb(18, 1, 94); */

}
body p{
    font-size: 20px;
    /* font-size: 150%; */
    line-height: 36px;
}
/* Green Text color */
.green-text{
    color: #3C7126;
}

/* Border-bottom */
.Border-bottom-text{
    border-bottom: 2px solid #3C7126;
}

.green-bg{
    background-color: #3C7126;
}

/* Shared background starts here*/
.shared-background{
    background-image: url("/img/asset-img/fruit-pattern.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #DFE7C5;
}
/* Shared background ends here*/


/* nav section starts here */

nav{
    height: auto;
    padding: 10px 0px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between
    ;
    align-items: center;
    /* align-content: center; */
    /* gap: 5%; */
    /* position: sticky; */
    position: fixed;
    top: 0px;
    background-color: #ffffffd2;
    z-index: 99;
    /* border: 2px solid red; */
    /* ***Remove This when you are done*** */
    display: none;
    transition: all 0.5s;
    transition-timing-function: ease-in-out;

}
nav ul.first-menu{
    padding: 0px;
    list-style:none; 
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    width: 50%;

    /* border: 2px solid red; */

}
/* nav ul.first-menu>li:first-child{
    border-bottom:2px solid #3C7126;
} */
nav ul.first-menu>li>a{
    /* height:; */
    padding: 10px 0px;
    /* border-bottom:2px solid #3C7126; */
}

/* nav ul.first-menu>li>a:hover{
    border-bottom:2px solid #3C7126;
    padding: 10px 0px;
    margin: 0px;
} */

.nav-border-bottom{
    border-bottom:2px solid #3C7126;
    padding: 10px 0px;
    margin: 0px;
}

nav div#second-menu-list{
    display: none;
}

nav ul.second-menu{
    padding: 10px 0px;
    list-style:none; 
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    /* width: 25%; */
    height: 60vh;
    font-style: normal;
    font-weight: 400;
    font-size: 34px;
    line-height: 65px;
    /* border: 1px solid red; */
    display: none;


}
/* All links */
nav ul>li>a{
    text-decoration: none;
    color:#3C7126;
    padding: 10px 0px;

}

/* Logo starts here*/
img.img-logo{
    /* width: 208px; */
    width: 10%;
    height: 5%;

    
}
#toggle-menu-icon{
    display: none;
}

/* Logo ends here */

/* nav section ends here */

/* accent images starts here */
/* img.orang-home-grouped{
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 15%;
} */

section.sec-home-1 img.single-orang-leaf-sec-1{
    position: absolute;
    width: 6%;
    height: 5%;
    left: -60px;
    top: 185px;
}

section.sec-home-1 img.single-orang-leaf-sec-2{
    position: absolute;
    width: 6%;
    height: 12%;
    /* right: -3.5%; */
    /* top: 125px; */
    bottom: -32px;
    left: 0px;
}
/* accent images ends here */

/* section 1 (sec-home-1) starts here*/
    section.sec-home-1{
        /* width: 100; */
        margin: 0px;
        /* padding: 0px; */
        /* height: 100vh; */
        height: auto;
        padding: 9% 2%;
        /* border: 2px solid blue; */
        position: relative;
        overflow-x: hidden;
    }

    section.sec-home-1>.container-fluid>.row>.home-content-sec-1{
        /* width: auto; */
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        /* border: 1px solid rgb(187, 255, 0); */
    }
    /* grouped row class */
    section.sec-home-1>.container-fluid>.row{
        /* width: 70%; */
        /* border: 1px solid green; */
        display: flex;
        /* flex-flow: column nowrap; */
        justify-content: center;
        align-items: center;
        padding: 3% 0px;
    }

    .home-content-sec-1{
        height: 99vh;
        width: 50%;
    }
    section.sec-home-1 h1.frutta-text{
        font-size: 90px;
        color: #3C7126;
    }

     h3.fn{
         /* font-family: "Gamja Flower", cursive; */
         
         font-family: 'Fredoka';
         font-style: normal;
         font-weight: 400;
         font-size: 20px;
         /* line-height: 55px; */
         /* width: 50%; */
         /* border: 1px solid red; */
         color: #3C7126;
        }
        

    section.sec-home-1 p{
        font-family: 'Fredoka';
        font-style: normal;
        font-weight: 300;
        font-size: 20px;
        line-height: 24px;
        width: 90%;
    }

    /* button .row section starts here */
section.sec-home-1>.container-fluid>.row>.home-content-sec-1>.row.btn-sec>.col-md-12{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
}

/* section.sec-home-1>.container-fluid>.row>.home-content-sec-1>.row.btn-sec>.col-md-12>button */
section.sec-home-1>.container-fluid>.row .btn-sec{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    /* gap: 10px; */
    margin: 10px 0px;
    padding: 10px 0px;
    width: 100%;
    /* border: 1px solid red; */
}
.button-l{
    /* color: #3C7126; */
    border: 1px solid #3C7126;
    background-color: transparent;
    color: #3C7126;
    width: 100%;
    height: 46px;
    font-size: 125%;
}
.button-l:hover{
    /* color: #3C7126; */
    border: 1px solid #3C7126;
    background-color: #3C7126;
    color: #ffffff;
    width: 100%;
    height: 46px;
    font-size: 125%;
}
/* section.sec-home-1>.container-fluid>.row>.home-content-sec-1>.row.btn-sec>.col-md-12>button */
.button-r{
    border: none;
    font-size: 125%;
    /* width: 201px; */
    width: 100%;
    height: 46px;
    background-color: #3C7126;
    color: #ffffff;
}
.button-r:hover{
    border: none;
    font-size: 125%;
    /* width: 201px; */
    width: 100%;
    height: 46px;
    border: 1px solid #3C7126;
    background-color: transparent;
    color: #3C7126;
}
    /* button .row section ends here */

    /* fruit-juice-img-section starts here*/
img.fruit-juice-grouped{
    width: 92%;
    /* height: 57%; */
    /* height: 57%; */
}
    /* fruit-juice-img-section ends here*/

/* section 1 (sec-home-1) ends here*/

/* section 2 (sec-home-2) starts here*/
section.sec-home-2{
    /* height: 100vh; */
    height: auto;
    padding: 10% 0px;
    overflow:hidden;
}


section.sec-home-2>.container-fluid>.row>.col-md-6>.row>.col-md-12{
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    /* align-content: center; */
    gap: 10px;
}
/**/
section.sec-home-2>.container-fluid>.row>.col-md-6 p{
    font-size: 20px;
    line-height: 36px;
}


section.sec-home-2 .img-wrapper{
    /* text-align: center; */
    height: auto;
    width: 100%;
    /* border: 2px solid palevioletred; */
}
section.sec-home-2 .img-wrapper>img{
    height: auto;
    width: 100%;
    border-radius: 0%;
}

/* section 2 (sec-home-2) ends here*/

/* section 3 slider starts here */

.carousel .view-more-backdrop{
    display: block;    
    position: absolute;
    background-color: #6d676759;
    height: 100%;
    width: 100%;
    /* display: flex; */
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 99;
}


.view-more-backdrop>.view-more-btn{
    background-color: #3C7126;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 20rem;
    outline: none;
}

/* section 3 slider ends here */


/* section 3 (sec-home-3) starts here*/

        /* section 3 has a copy for products */

section.sec-home-3{
    /* height: 100vh; */
    background-color: #F6F6F6;
    position: relative;
    overflow: hidden;
    padding: 5% 0px;
    height: auto;
}

section.sec-home-3>.container-fluid>.row>.col-md-12.product-list{
    /* height:90vh; */
    margin: 2% 0px;
    padding: 10px 0px;
    height: auto;
    /* border: 2px solid rebeccapurple; */
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
    /* gap: 10px; */
}

section.sec-home-3>.container-fluid>.row>.col-md-12.product-list>.product-wrapper{
    /* border: 2px solid #3C7126; */
    height: auto;
    width: 16%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 6px 0px;
    
}

.product-wrapper>img{
    /* this is for each product available */
    width: 70%;
}

section.sec-home-3 .top-single-orange-leaf-sec-3{
    position: absolute;
    top: -10px;
    right: 0px;
    width: 6%;
}

section.sec-home-3 .twin-leaf{
    position: absolute;
    /* bottom: -2%; */
    left: -1%;
    width: 6%;
}
section.sec-home-3 img.grouped-fruits-sec-3{
    position: absolute;
    width: 15%;
    bottom: -45px;
    right: -46px;
    opacity: 50%;
    z-index: 0;
}
/* section 3 (sec-home-3) ends here*/

/* section 4 (sec-home-4) starts here*/
section.sec-home-4{
    /* height: 100vh; */
    height: auto;
    /* padding: 5% 0px; */
}

section.sec-home-4>.container-fluid>.row>.col-md-6{
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    gap: 5%;
    padding: 5% 0px;
}


section.sec-home-4>.container-fluid>.row>.col-md-6 .why-points{
    display: flex;
    flex-flow: row nowrap;
    gap: 20px;
    /* border: 1px solid black; */
}


section.sec-home-4>.container-fluid>.row>.col-md-6 .why-points>img.why-us-icon{
    height: 50px;
    width: 50px;
    margin: 0px;
}

section.sec-home-4>.container-fluid>.row>.col-md-6.imgfram{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}
section.sec-home-4>.container-fluid>.row>.col-md-6>img{
    height: auto;
    width: 70%;
    border-radius: 0%;
}

/* section 4 (sec-home-4) ends here*/


/* section 5 (sec-home-5) starts here*/
section.sec-home-5{
    height: auto;
    padding: 5% 0px;

}

section.sec-home-5>.container-fluid>.row>.col-md-6{
    height: auto;
    display: flex;
    justify-content: center;
    flex-flow: column nowrap;
    gap: 5%;
}

section.sec-home-5>.container-fluid>.row>.col-md-6 input,textarea{
    background-color: #f7f7f7 !important;
}

section.sec-home-5>.container-fluid>.row>.col-md-6 .form-wrapper{
    width: 80%;
    /* height:80vh; */
    height:auto;
    background-color: #ffffff;
    /* border-radius: 35px; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10% 0px;
    
}
section.sec-home-5>.container-fluid>.row>.col-md-6 .form-wrapper>form{
    width: 95%;
    /* height: 90%; */
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px solid red; */
    padding: 5px 5px;
    margin: 15px 0px;
}
section.sec-home-5>.container-fluid>.row>.col-md-6 .form-wrapper>form>.row{
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
    /* margin-top: 0px; */
}

.submit{
    color: #ffffff;
    /* border: 1px solid #3C7126; */
    background-color: #3C7126;
    width: 100%;
    height: 46px;
    /* font-size: 20px; */
    font-size: 125%;
    border: none;
}
.submit:hover{
    border: none;
    font-size: 125%;
    /* width: 201px; */
    width: 100%;
    height: 46px;
    border: 1px solid #3C7126;
    background-color: transparent;
    color: #3C7126;
}

/* section 5 (sec-home-5) ends here*/


/* section 6 (sec-home-5) starts here*/
section.sec-home-6{
    background-color: #f7f7f7 !important;
    height: auto;
    padding: 5% 0px;
    position: relative;
    overflow: hidden;
}
section.sec-home-6 .card-view{
    /* border: 1px solid red; */
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    padding: 10px 0px;
    gap: 6px;
    text-align: center;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    z-index: 2;
    /* padding: 15px 0px; */

}

section.sec-home-6 .card-view>p{
    width: 85%;
    font-size: 14px;
}
section.sec-home-6 .card-view>img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

section.sec-home-6>.container>.row>.col-md-10>.row{
    position: relative;
}
section.sec-home-6 .single-leaf{
    position: absolute;
    top: -30px;
    right: -96px;
    width: 15%;
    /* z-index: 0; */
}
section.sec-home-6 .twin-leaf{
    position: absolute;
    bottom: -2%;
    left: -1%;
    width: 6%;
}

/* section 6 (sec-home-5) ends here*/

/* section-7-events-home starts here */
.sec-events-home{
    /* padding: 5% 0px; */
    height: 75vh;
}

.slider-bg{
  background-color: #DFE7C5;  
}

.carousel-caption{
    background-color: #3c712685;
    bottom: 43%;
}

.blog-btn-wrapper{
    position: relative;
    /* border: 1px solid red; */
    display: flex;
    flex-flow: row nowrap;
    /* justify-content: center; */
    align-items: center;
    gap: 15px;
}

.sec-events-home .carousel-control-prev,.sec-events-home .carousel-control-next{
    background-color: #3c7126;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    position: static;
    display: block;
}


/* section-7-events-home ends here */


/* Footer section starts here */

section.footer{
    
    
}
section.footer a.social-media>img{
    width: 50px;
}
section.footer .white-line{
    background-color: #FFFFFF;
    height: 1px;
    width: 90%;
    margin: 20px 0px;
    position: relative;
    /* border: 1px solid red; */
}
section.footer .twin-leaf-footer{
    width: 20%;
   position: absolute; 
   top: -59px;
   right: -62px;
   /* z-index: 99; */
}

section.footer p.Copyright{
    font-size: 12px;
    
}
/* Footer section ends here */

/* home page Ends here */

/* --------- */

/* .template-banner for all Page starts here */
.template-banner-main{
    /* background: url("../img/asset-img/fresh-fruits.png") ; */
    background: url("../img/asset-img/fruit_splashed_with_fruit.png") ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.template-banner-wrapper{
    /* padding: 10% 0px; */
    height: 55vh;
    /* background-color: #d9d9d9a2; */
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}
.template-banner-wrapper h1{
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
}
.template-banner-wrapper p{
    font-size: 20px;
    
}

/* Contact Us Page starts here */
    section.sec-1-contact-us{
        padding: 5% 0px;
        background-color: #DFE7C5;
    }
    section.sec-1-contact-us>.container-fluid>.row>.col-md-6{
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        /* border: 1px solid red; */
    }
    section.sec-1-contact-us>.container-fluid>.row>.col-md-6>.contact-wrapper{
        /* border: 1px solid red; */
        width: 75%;
        /* height: 80vh; */
        height: auto;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        gap: 40px;
        background: #FFFFFF;
        border-radius: 40px;
        padding:6% 5%;
    }
    section.sec-1-contact-us>.container-fluid>.row>.col-md-6>.contact-wrapper h1,.big-font{
        font-weight: 700;
        /* font-size: 32px; */
    }
    section.sec-1-contact-us>.container-fluid>.row>.col-md-6>.contact-wrapper p{
        font-size: 20px;
    }

    section.sec-1-contact-us>.container-fluid>.row>.col-md-6>.contact-wrapper .icon-contact-us{
        width: 70%;
    }


    section.sec-1-contact-us>.container-fluid>.row>.col-md-6>.map-wrapper{
        /* border: 1px solid red; */
        width: 75%;
        height: 76vh;
        height: 100%;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
    }
    section.sec-1-contact-us>.container-fluid>.row>.col-md-6>.map-wrapper>iframe{
        height: 100%;
        width: 100%;
    }
    section.sec-2-contact-us{
        position: relative;
    }
    section.sec-2-contact-us>img{
        width: 5%;
        position: absolute; 
        top: -5.5%;
        left: 28%;
    }


/* Contact Us Page ends here */

/* About Us page starts here */
section.sec-1-about .icon-list{
    width: 65%;
}
section.sec-1-about .col-md-6>.img-wrapper-about{
    /* width: auto; */
    /* height: 75%; */
    display: flex;
    justify-content: center;
    align-items: center;
}
section.sec-1-about .col-md-6>.img-wrapper-about>img{
    /* width: 100%; */
    /* height: 100%; */
}

section.sec-2-about{
    background-color: #DFE7C5;
    padding: 10% 0px;
    
}
section.sec-2-about .row>.col-md-6{
    /* height: ; */
}
section.sec-2-about .subject{
    margin-bottom: 6%;
    position: relative;
    /* border: 1px solid rebeccapurple; */
}
section.sec-2-about .subject>img{
    width: 12%;
    position: absolute; 
    bottom: 65%;
    right: 40%;
}


section.sec-2-about .row>.col-md-6>.icon-ov-wrapper-1,.icon-ov-wrapper-2{
    /* border: 1px solid red; */
    /* height: 150%; */
    padding: 20px 30px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    gap: 20px;
    /* width: 625px; */
    /* height: 410px; */
    height: 100%;
    border-radius: 40px;
    
}
section.sec-2-about .row>.col-md-6>.icon-ov-wrapper-1,.icon-ov-wrapper-{
    /* border: 1px solid red; */
    /* height: 150%; */
    padding: 20px 30px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    gap: 20px;
    /* width: 625px; */
    /* height: 410px; */
    height: 100%;
    border-radius: 40px;
    
}
section.sec-2-about .row>.col-md-6>.icon-ov-wrapper-1{
    background-color: #FFFFFF;

}
section.sec-2-about .row>.col-md-6>.icon-ov-wrapper-1>.img-circle{
    background-color: #3C7126;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* section.sec-2-about .row>.col-md-6>.icon-ov-wrapper-1>.img-circle>img{
    width:;
} */




section.sec-2-about .row>.col-md-6>.icon-ov-wrapper-2{
    background-color: #3C7126;
    color: #FFFFFF;
}
section.sec-2-about .row>.col-md-6>.icon-ov-wrapper-2>.img-circle{
    background-color: #ffffff;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center; 
}


/* section-sec-3-about */
section.sec-3-about{
    padding: 10% 40px;
}
 .profile-wrapper{
    /* border: 1px solid red; */
    background-color: #D9D9D9;
    text-align: center;
    /* width: 100%; */
    /* padding: 10px; */
    display: flex;
    flex-flow: column nowrap;
    border-radius: 10px;
    margin: 15px 0px;
    height: 36rem;

}
.profile-wrapper>img.profile-pic{
    height: 400px;
}

section.sec-3-about .social-media-icon-wrapper{
    /* border: 1px solid #3C7126; */
    margin: 15px;
}
section.sec-3-about a.social-media{
    margin: 0px 5px;
    padding: 0px;
    text-decoration: none;
}
section.sec-3-about a.social-media>img{
    /* width: 45px; */
    width: 12%;
    margin: 0px;
}

.profile-details{
    /* border: 1px solid red; */
    background-color: #DFE7C5;
    /* text-align: center; */
    /* width: 80%; */
    padding: 10px;
    display: flex;
    flex-flow: row wrap;
    gap: 10px;
    border-radius: 10px;
    margin: 15px 0px;
    position: relative;
    display: none;
}
.profile-details>.close-profile-details-btn{
    height: 35px;
    width: 35px;
    /* border: 1px solid #3C7126; */
    /* border-radius: 50%; */
    background-image: url('../img/icons/close-menu.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: 5px;
    right: 5px;
}
.profile-details>.close-profile-details-btn:hover{
    height: 50px;
    width: 50px;
    border: 1px solid #3C7126;
    border-radius: 50%;

}
/* About Us page ends here */

/* Product Page */
.product-head-line{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
}
.head-lines{
    height: 1.6px;
    background-color: #3C7126;
    width: 150px;
    margin: 0px;
    padding: 0px;
}
.product-detail-image{
    width: 100%;
}
.product-details-collection{
    position: relative;
    display: none;
    row-gap: 20px;
    /* height: 60vh; */
    padding: 6% 0px;
}

div.close-detail-product-btn{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-image: url('/img/icons/close-menu.png');
    position: absolute;
    top:0;
    right: 50px;
    cursor: pointer;
}

.product-list-collection{
    position: relative;

}
.product-list-collection:hover .view-more-backdrop{
    display: block;    
    position: absolute;
    background-color: #6d676759;
    height: 100%;
    width: 100%;
    display: flex;
    /* flex-flow: row nowrap; */
    justify-content: center;
    align-items: center;
}
.view-more-backdrop{
    position: absolute;
    background-color: #6d676759;
    height: 100%;
    width: 100%;
    display: flex;
    /* flex-flow: row nowrap; */
    justify-content: center;
    align-items: center;
    display: none;
}

.view-more-backdrop>.view-more-btn{
    background-color: #3C7126;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 20rem;
    outline: none;
}
/* Product Page Ends here */

/* Careers starts here */
    section.sec-Careers{
        padding: 5% 10px;
    }
    .career-pic{
        width: 100%;
    }

    .sec-2-careers{
        padding: 5% 10px;
        background-color:#DFE7C5 ;
        position: relative;
    }
    .sec-2-careers>.twin-leaf{
        position: absolute;
        top: -5%;
        transform: translateX(70rem);
        width: 8%;
    }
    .sec-3-careers{
        padding: 10% 10px;
        background-image: url("../img/partnership.png");
        background-repeat: no-repeat;
        background-size: cover;
    }
    .sec-4-careers{
        padding: 5% 10px;
    }
    .job-description{
        height: 25rem;
        background-color: #D9D9D9;
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;
        padding-bottom: 20px;
    }
    .job-description>button{
        width: 50%;
        align-self: center;
    }


/* Careers ends here */


/* --------- */

/* Media Query Starts here*/

@media screen  and (max-width: 768px) {

    html,body,*{
        padding: 0px;
        margin:0px;
    }
    
    body{
        /* width: 100%; */
        font-family: 'Fredoka';
        /* border: 1px solid rgb(82, 255, 3); */
        /* border: 2px solid rgb(18, 1, 94); */
    
    }
    body p{
        font-size: 16px;
        /* font-size: 150%; */
        line-height: 36px;
    }
    /* Green Text color */
    .green-text{
        color: #3C7126;
    }
    
    /* Border-bottom */
    .Border-bottom-text{
        border-bottom: 2px solid #3C7126;
    }
    
    .green-bg{
        background-color: #3C7126;
    }
    
    /* Shared background starts here*/
    .shared-background{
        background-image: url("/img/asset-img/fruit-pattern.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-color: #DFE7C5;
    }
    /* Shared background ends here*/
    
    
    /* nav section starts here */
    
    nav{
        height: auto;
        padding: 10px;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        /* align-content: center; */
        /* gap: 5%; */
        position: sticky;
        /* position: fixed; */
        top: 0px;
        background-color: #ffffff;
        z-index: 99;
        /* border: 2px solid red; */
    
    }
    nav ul.first-menu{
        padding: 0px;
        list-style:none; 
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;
        width: 25%;
        /* border: 2px solid red; */
    
    }
    /* nav ul.first-menu>li:first-child{
        border-bottom:2px solid #3C7126;
    } */
    nav ul.first-menu>li:hover{
        border-bottom:2px solid #3C7126;
    }
    nav div#second-menu-list{
        display: none;
    }
    
    nav ul.second-menu{
        padding: 10px 0px;
        list-style:none; 
        display: flex !important;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        /* width: 25%; */
        height: 90vh;
        font-style: normal;
        font-weight: 400;
        font-size: 30px;
        line-height: 65px;
        /* border: 1px solid red; */
    
    }
    /* All links */
    nav ul>li>a{
        text-decoration: none;
        color:#3C7126;
        padding: 10px 0px;
    
    }
    
    /* Logo starts here*/
    img.img-logo{
        /* width: 208px; */
        width: 15%;
        /* height: 5%; */
        /* use for mobile 
        width: 15%;
        height: 10%;
        */
    }
    #toggle-menu-icon{
        display: block;
        margin-left: auto;
        width: 50px;
        height: 50px;
        background-image: url("../img/icons/menu-toggle.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        transition: all 0.2s;
        transition-timing-function: ease-in-out;
    }
    /* Logo ends here */
    
    /* nav section ends here */
    
    /* accent images starts here */
    /* img.orang-home-grouped{
        position: absolute;
        bottom: 0px;
        left: 0px;
        width: 15%;
    } */
    
    section.sec-home-1 img.single-orang-leaf-sec-1{
        position: absolute;
        width: 10%;
        /* height: 10%; */
        left: -25px;
        top: 7%;
    }
    
    section.sec-home-1 img.single-orang-leaf-sec-2{
        position: absolute;
        bottom: -1%;
        left: -1%;
        /* left: -5px; */
        width: 10%;
    }
    /* accent images ends here */
    
    /* section 1 (sec-home-1) starts here*/
        section.sec-home-1{
            /* width: 100; */
            margin: 0px;
            /* padding: 0px; */
            /* height: 100vh; */
            height: auto;
            padding: 10% 1% 9% 1%;
            /* border: 2px solid blue; */
            position: relative;
            overflow-x: hidden;
        }
    
        section.sec-home-1>.container-fluid>.row>.home-content-sec-1{
            /* width: auto; */
            display: flex;
            flex-flow: column nowrap;
            justify-content: center;
            align-items: center;
            /* border: 1px solid rgb(187, 255, 0); */
        }
        /* grouped row class */
        section.sec-home-1>.container-fluid>.row{
            /* width: 70%; */
            /* border: 1px solid green; */
            display: flex;
            /* flex-flow: column nowrap; */
            justify-content: center;
            align-items: center;
            padding: 3% 0px;
        }
    
        .home-content-sec-1{
            height: 99vh;
            width: 50%;
        }
        section.sec-home-1 h1.frutta-text{
            font-size: 70px;
            color: #3C7126;
        }
    
         h3.fn{
             /* font-family: "Gamja Flower", cursive; */
             
             font-family: 'Fredoka';
             font-style: normal;
             font-weight: 400;
             font-size: 20px;
             color: #3C7126;
            }
            
    
        section.sec-home-1 p{
            font-family: 'Fredoka';
            font-style: normal;
            font-weight: 300;
            font-size: 20px;
            line-height: 24px;
            width: 90%;
        }
    
        /* button .row section starts here */
    section.sec-home-1>.container-fluid>.row>.home-content-sec-1>.row.btn-sec>.col-md-12{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;
        align-items: center;
    }
    
    /* section.sec-home-1>.container-fluid>.row>.home-content-sec-1>.row.btn-sec>.col-md-12>button */
    section.sec-home-1>.container-fluid>.row .btn-sec{
        /* display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        align-items: center; */
        /* gap: 5px; */
        margin: 10px 0px;
        padding: 10px 0px;
        /* border: 1px solid red; */
    }
    .button-l{
        /* color: #3C7126; */
        /* border: 1px solid #3C7126; */
        background-color: transparent;
        /* padding: 10px; */
        /* width: 201px; */
        width: 100%;
        height: 46px;
        font-size: 20px;
    }
    /* section.sec-home-1>.container-fluid>.row>.home-content-sec-1>.row.btn-sec>.col-md-12>button */
    .button-r{
        border: none;
        font-size: 125%;
        /* width: 201px; */
        width: 100%;
        height: 46px;
        background-color: #3C7126;
        color: #ffffff;
    }
        /* button .row section ends here */
    
        /* fruit-juice-img-section starts here*/
    img.fruit-juice-grouped{
        width: 92%;
        /* height: 57%; */
        /* height: 57%; */
    }
        /* fruit-juice-img-section ends here*/
    
    /* section 1 (sec-home-1) ends here*/
    
    /* section 2 (sec-home-2) starts here*/
    section.sec-home-2{
        /* height: 100vh; */
        height: auto;
        padding: 10% 0px;
        overflow:hidden;
    }
    section.sec-home-2>.container>.row>.col-md-6{
        /* width: 50%; */
        /* height: 100vh; */
        /* height: auto; */
        /* display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center; */
        /* border: 2px solid rgb(94, 1, 32); */
        /* margin:2% 0px; */
    }
    section.sec-home-2>.container-fluid>.row>.col-md-6>.row{
        /* width: 80%; */
        border: 2px solid rgb(18, 1, 94);
    
    }
    section.sec-home-2>.container-fluid>.row>.col-md-6>.row>.col-md-12{
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-evenly;
        /* align-content: center; */
        gap: 10px;
        /* width: auto !important; */
    }
    
    section.sec-home-2>.container-fluid>.row>.col-md-6 p{
        /* width: 80%; */
        /* font-size: 28px; */
        font-size: 16px;
        /* font-size: 150%; */
        line-height: 36px;
    }
    
    
    section.sec-home-2 .img-wrapper{
        text-align: center;
        /* border: 2px solid palevioletred; */
        padding: 20px 0px;
    }
    section.sec-home-2 .img-wrapper>img{
        height: auto;
        width: 100%;
        border-radius: 0%;
    }
    
    /* section 2 (sec-home-2) ends here*/
    
    /* section 3 slider starts here */

    .carousel{
        height: 30vh;
    }

/* section 3 slider ends here */


    /* section 3 (sec-home-3) starts here*/
    section.sec-home-3{
        /* height: 100vh; */
        background-color: #F6F6F6;
        position: relative;
        overflow: hidden;
        padding: 5% 0px;
        height: auto;
    }
    
    section.sec-home-3>.container-fluid>.row>.col-md-12.product-list{
        /* height:90vh; */
        margin: 2% 0px;
        padding: 10px 0px;
        height: auto;
        /* border: 2px solid rebeccapurple; */
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-evenly;
        align-items: center;
        gap: 10px;
    }
    
    section.sec-home-3>.container-fluid>.row>.col-md-12.product-list>.product-wrapper{
        /* border: 2px solid #3C7126; */
        background-color: #ffffff;
        /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.185); */
        /* height: 67%; */
        width: 70%;
        height: auto;
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;
        align-items: center;
        padding: 6px 0px;
        margin-top: 15px;
        
    }
    
    
    .product-wrapper>img{
        /* this is for each product available */
        width: 35%;
    }
    
    section.sec-home-3>.top-single-orange-leaf-sec-3{
        position: absolute;
        top: -10px;
        right: 0px;
        width: 8%;
    }
    
    section.sec-home-3 img.twin-orange-leaf-sec-3{
        position: absolute;
        width: 10%;
        bottom: -5px;
        left: -5px;
    }
    section.sec-home-3 img.grouped-fruits-sec-3{
        position: absolute;
        width: 25%;
        bottom: -25px;
        right: -46px;
        opacity: 50%;
        z-index: 0;
    }
    /* section 3 (sec-home-3) ends here*/
    
    /* section 4 (sec-home-4) starts here*/
    section.sec-home-4{
        /* height: 100vh; */
        height: auto;
        padding: 0px;
        overflow: hidden;
    }
    
    section.sec-home-4>.container-fluid>.row>.col-md-6{
        /* border: 1px solid red; */
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: column nowrap;
        gap: 5%;
        padding: 5% 15px;
    }

    
    section.sec-home-4>.container-fluid>.row>.col-md-6 .why-points{
        display: flex;
        flex-flow: row nowrap;
        gap: 20px;
        /* border: 1px solid black; */
    }
    

    section.sec-home-4>.container-fluid>.row>.col-md-6 .why-points>img.why-us-icon{
        height: 50px;
        width: 50px;
        margin: 0px;
    }
    
    section.sec-home-4>.container-fluid>.row>.col-md-6.imgfram{
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        padding: 0px;
    }
    section.sec-home-4>.container-fluid>.row>.col-md-6>img{
        margin-top: 10px;
        /* width: 85%;
        height: 95%;
        border-radius: 30px; */
        height: auto;
        width: 100%;
        border-radius: 0%;
    }
    
    /* section 4 (sec-home-4) ends here*/
    
    
    /* section 5 (sec-home-5) starts here*/
    section.sec-home-5{
        height: auto;
        padding: 10% 0px;
    
    }
    
    section.sec-home-5>.container-fluid>.row>.col-md-6{
        height: auto;
        padding: 3% 0px;
        /* border: 1px solid red; */
        display: flex;
        justify-content: center;
        /* align-items: center; */
        flex-flow: column wrap;
        gap: 5%;
    }
    
    section.sec-home-5>.container-fluid>.row>.col-md-6 input,textarea{
        background-color: #f7f7f7 !important;
    }
    
    section.sec-home-5>.container-fluid>.row>.col-md-6 .form-wrapper{
        width: auto;
        height:auto;
        background-color: #ffffff;
        border-radius: 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px 0px;
        
    }
    section.sec-home-5>.container-fluid>.row>.col-md-6 .form-wrapper>form{
        width: 95%;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        /* border: 1px solid red; */
        padding: 10px 10px;
    }
    section.sec-home-5>.container-fluid>.row>.col-md-6 .form-wrapper>form>.row{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
        /* margin-top: 0px; */
    }
    
    .submit{
        color: #ffffff;
        /* border: 1px solid #3C7126; */
        background-color: #3C7126;
        width: 100%;
        height: 46px;
        font-size: 20px;
        border: none;
    }
    
    /* section 5 (sec-home-5) ends here*/
    
    
    /* section 6 (sec-home-5) starts here*/
    section.sec-home-6{
        background-color: #f7f7f7 !important;
        height: auto;
        padding: 5% 10px;
        position: relative;
        overflow: hidden;
    }
    section.sec-home-6 .card-view{
        /* border: 1px solid red; */
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        padding: 15px 0px;
        gap: 6px;
        text-align: center;
        width: 80%;
        /* height: 90%; */
        background: #FFFFFF;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
        z-index: 2;
        margin: 15px 0px;
    }
    
    section.sec-home-6 .card-view>p{
        width: 90%;
    }
    section.sec-home-6 .card-view>img{
        width: 80px;
        height: 80px;
        border-radius: 50%;
    }


section.sec-home-6 .single-leaf{
    position: absolute;
    top: -8px;
    right: -6px;
    width: 18%;
    /* z-index: 22; */
}
    section.sec-home-6 .twin-leaf{
        position: absolute;
        bottom: -1%;
        left: -1%;
        /* left: -5px; */
        width: 10%;
    }
    
    /* section 6 (sec-home-5) ends here*/

    /* section 7 (sec-home-7) starts here*/
    .sec-events-home{
        height: 100vh;  
    }

    /* section 7 (sec-home-7) ends here*/
    
    
    /* Footer section starts here */
    
    section.footer{
        
        
    }
    section.footer a.social-media>img{
        width: 50px;
    }
    section.footer .white-line{
        background-color: #FFFFFF;
        height: 1px;
        width: 99%;
        margin: 20px 0px;
    }
    section.footer .twin-leaf-footer{
        width: 20%;
        position: absolute; 
        top: -62px;
        right: -60px;
    }
    section.footer p.Copyright{
        font-size: 12px;
        
    }
    /* Footer section ends here */
    /* Home Page Ends Here */

        /* --------- */
    /* .template-banner for all Page starts here */
    /* .template-banner-main{
        background: url("../img/asset-img/fresh-fruits.png") ;
        background-repeat: no-repeat;
        background-size: cover;
    } */
    .template-banner-wrapper{
        /* padding: 10% 0px; */
        height: 40vh;
        background-color: #d9d9d9a2;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
    }
    .template-banner-wrapper h1{
        font-style: normal;
        font-weight: 400;
        font-size: 40px;
    }
    .template-banner-wrapper p{
        font-size: 16px;

    }

    /* template-banner for all Page ends here */
    

/* Contact Us Page starts here */
    section.sec-1-contact-us{
        padding: 10px 0px;
        background-color: #DFE7C5;
    }
    section.sec-1-contact-us>.container-fluid>.row>.col-md-6{
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        /* border: 1px solid red; */
    }
    section.sec-1-contact-us>.container-fluid>.row>.col-md-6>.contact-wrapper{
        /* border: 1px solid red; */
        width: 90%;
        height: auto;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        gap: 40px;
        background: none;
        border-radius: 0px;
        padding: 10px 0px;
        margin: 15px 0px;
    }
    section.sec-1-contact-us>.container-fluid>.row>.col-md-6>.contact-wrapper h1,.big-font{
        font-weight: 600;
        /* font-size: 32px; */
    }
    section.sec-1-contact-us>.container-fluid>.row>.col-md-6>.contact-wrapper p{
        font-size: 20px;
    }



    section.sec-1-contact-us>.container-fluid>.row>.col-md-6>.contact-wrapper .icon-contact-us{
        width: 10%;
    }


    section.sec-1-contact-us>.container-fluid>.row>.col-md-6>.map-wrapper{
        /* border: 1px solid red; */
        width: 100%;
        height: 80vh;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        
    }
    section.sec-1-contact-us>.container-fluid>.row>.col-md-6>.map-wrapper>iframe{
        height: 100%;
        width: 100%;
    }
/* Contact Us Page ends here */

    /* --------- */

/* About Us page starts here */
section.sec-1-about .icon-list{
    width: 12%;
    margin: 10px 0px;
}
section.sec-1-about .col-md-6>.img-wrapper-about{
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
section.sec-1-about .col-md-6>.img-wrapper-about>img{
    /* width: 100%; */
    border-radius: 0px !important;
}

/* section.sec-2-about */

section.sec-2-about{
    background-color: #DFE7C5;
    padding: 10% 0px;

}
section.sec-2-about .subject>img{
    width: 16%;
    position: absolute; 
    bottom: 89%;
    right: 28%;
}
section.sec-2-about .row>.col-md-6{
    /* height: 5; */
    display: flex;

}
section.sec-2-about .row>.col-md-6>.icon-ov-wrapper-1,.icon-ov-wrapper-2{
    /* border: 1px solid red; */
    /* height: 150%; */
    padding: 20px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    gap: 15px;
    width: auto;
    height: auto;
    border-radius: 20px;
    margin: 10px 0px;
    
}


section.sec-2-about .row>.col-md-6>.icon-ov-wrapper-1{
    background-color: #FFFFFF;
    
}


section.sec-2-about .row>.col-md-6>.icon-ov-wrapper-1>.img-circle{
    background-color: #3C7126;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* section.sec-2-about .row>.col-md-6>.icon-ov-wrapper-1>.img-circle>img{
    width:;
} */
section.sec-2-about .row>.col-md-6>.icon-ov-wrapper-2{
    background-color: #3C7126;
    color: #FFFFFF;
}
section.sec-2-about .row>.col-md-6>.icon-ov-wrapper-2>.img-circle{
    background-color: #ffffff;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.profile-wrapper{
    /* border: 1px solid red; */
    height: auto;
    width: auto;
    
}

.sec-3-about{
    padding: 0px !important;
}


/* About Us page ends here */

/* Product Page */
.product-head-line{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
}
.head-lines{
    height: 1.6px;
    background-color: #3C7126;
    width: 60px;
    margin: 0px;
    padding: 0px;
}

.product-details-collection{
    position: relative;
    display: flex;
    row-gap: 20px;
    /* padding: 6% 0px; */
}
/* this hides each product image on the mobile view  */
#product-row-1,#product-row-2,#product-row-3,#product-row-4,#product-row-5,#product-row-6{
    display: none;
}

/* Product Page ends here*/

}
/* Media Query ends here*/